[Desktop Entry]
Version=1.0
Type=Application
Name=LLamaStudio
Comment=Chat interface for llama.cpp
Exec=/home/gnulnx/miniconda3/envs/llamastudio/bin/python /home/gnulnx/LlamaStudio/start.py
Path=/home/gnulnx/LlamaStudio
Icon=llamastudio
Terminal=false
Categories=Utility;Network;Chat;
StartupNotify=false
