[Desktop Entry]
Version=1.0
Type=Application
Name=LLamaStudio
Comment=Chat interface for llama.cpp
Exec=lls reload
Icon=llamastudio
Terminal=false
Categories=Utility;Network;Chat;
StartupNotify=false
